<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="work/app/assets/javascripts/jquery.bxslider.min.js"></script>
<link href="work/app/assets/stylesheets/jquery.bxslider.css" rel="stylesheet" />

		



</head>
<body>
<div class="aaa">
<header>
	
<h1>家庭教師のNAGAO</h1>


</header>
<ul id="menu">
  <li><a href="#">NAGAOの教育理念</a></li>
  <li><a href="#">NAGAOの強み</a></li>
  <li><a href="#">コース情報</a></li>
  <li><a href="#">よくある質問</a></li>
  <li><a href="#">キャンペーン</a></li>
</ul>



<div id="carouselWrap">
    <p id="carouselPrev"><img src="images/btn_prev.png" alt="前へ" /></p>
    
    <p id="carouselNext"><img src="images/btn_next.png" alt="次へ" /></p>
    <div id="carouse">
        <div id="carouselInner">
            <ul class="column">
            <li><a href="#"><img src="images/photo1_thum.jpg" alt="" /></a></li>
            <li><a href="#"><img src="images/photo2_thum.jpg" alt="" /></a></li>
            <li><a href="#"><img src="images/photo3_thum.jpg" alt="" /></a></li>
            </ul>
            <ul class="column">
            <li><a href="#"><img src="./images/photo4_thum.jpg" alt="" /></a></li>
            <li><a href="#"><img src="./images/photo5_thum.jpg" alt="" /></a></li>
            <li><a href="#"><img src="./images/photo6_thum.jpg" alt="" /></a></li>
            </ul>
            <ul class="column">
            <li><a href="#"><img src="./images/photo7_thum.jpg" alt="" /></a></li>
            <li><a href="#"><img src="./images/photo8_thum.jpg" alt="" /></a></li>
            <li><a href="#"><img src="./images/photo9_thum.jpg" alt="" /></a></li>
            </ul>
        </div>
    </div>
</div>





















<div class="bbb">
<p class="box1">お問い合わせ<br></p>
<p class="box">080-5452-5515</p></div>


<p>こちらは家庭教師のマッチングサイトです。</p>




<li><a href="#">
<%= link_to "教師のプロフィールへ", profiles_path %>
</a></li>
</div>
</div>


















</body>